<%= simple_form_for @user, html: { class: "form-horizontal" } do |f| %>
  <%= f.input :email, placeholder: "Email" %>
  <%= f.input :password, placeholder: "Пароль" %>
  <%= f.input :password_confirmation, placeholder: "Повторите пароль" %>
  <%= f.submit button_name, class: "btn btn-primary" %>
<% end %>
