<h3>Вы находитесь в Вашем личном кабинете</h3>
<p> Ваш Email: <%= @user.email %></p>
<%= link_to "Удалить", user_path(@user), method: :delete, data: {confirm: "Вы уверены?"}, class: "btn btn-danger" %>
