<% if current_user %>
  <% if @card.present? %>
    <%= form_tag check_translation_card_path(@card) do %>
    <div class="text-center">
      <h2><%= image_tag @card.photo.url if @card.photo.present? %></h2>
      <h2><%= @card.original_text %></h2>
    </div>
        <div class="row">
          <div class="input-group">
            <%= text_field_tag "answer", nil, class: "form-control", placeholder: "Ответ"  %>
              <span class="input-group-btn">
                  <%= submit_tag "Проверить", class: "btn btn-success" %>
              </span>
          </div>
        </div>
    <% end %>
    <% else%>
      <h1> На данный момент все карточки проверены!</h1>
  <% end %>
<% end %>
