<% if current_user.decks.empty? %>
  <h3> Нельзя создать карточку если у Вас нет не одной колоды. Создаейте хотя бы одну колоду</h3>
<% else %>
  <%= simple_form_for( @card, html: { class: 'form-group' }) do |f| %>
     <%= f.input :original_text, placeholder: "Введите слово" %>
     <%= f.input :translated_text, placeholder: "Перевод слова" %>
     <% if @card.id %>
       <%= f.input :review_date, placeholder: "Дата пересмотра" %>
     <% end %>
     <%= f.collection_select(:deck_id, current_user.decks, :id, :name) %>
     <%= f.input :photo, as: :file  %>
     <%= f.input :remote_photo_url , placeholder: "Введите URL фотографии" %>
     <%= f.submit button_name, class: "btn btn-primary" %>
  <% end %>
<% end %>
