<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th scope="col">Оригинальный текст</th>
      <th scope="col">Перевод</th>
      <th scope="col">Дата пересмотра</th>
    </tr>
  </thead>
    <tbody>
      <% @cards.each do |card| %>
          <td><%= card.original_text %></td>
          <td><%= card.translated_text %></td>
          <td><%= card.review_date.strftime('%m/%d/%y') %></td>
          <% if current_user.author_of?(card.deck) %>
            <td><%= link_to 'Edit', edit_card_path(card) %></td>
            <td><%= link_to 'Destroy', card_path(card),method: :delete, data: { confirm: 'Вы уверены?' } %></td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
