<div class="text-center">
  <h1><%= @card.original_text %></h1>
  <h1><%= @card.translated_text %></h1>
  <h1><%= @card.review_date %></h1>
  <% if @card.photo.present? %>
    <h1><%= image_tag @card.photo.url %></h1>
  <% else %>
    <h1><%= image_tag @card.remote_photo_url if @card.remote_photo_url.present? %></h1>
    <% end %>
  <% if current_user.author_of?(@card.deck)%>
    <%= link_to 'Удалить карточку', card_path(@card),method: :delete, data: { confirm: 'Вы уверены?' } %>
  <% end %>
</div>
