<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th scope="col">Название колоды</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
    <tbody>
      <% current_user.decks.each do |deck| %>
          <td><%= deck.name %></td>
          <% if current_user.author_of?(deck) %>
            <td><%= link_to 'Редактировать', edit_deck_path(deck) %></td>
            <td><%= link_to 'Сделать текущей', make_current_deck_path(deck), method: :patch %></td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
