<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="container">

      <div class="navbar navbar-default navbar-static-top">
        <%= link_to "Флэшкарточек", root_path, class: 'navbar-brand' %>
        <nav class="nav">
            <% if current_user %>
              <a class="nav-link"> <%= link_to "Мои карточки", cards_path %></a>
              <a class="nav-link"> <%= link_to "Добавить карточку", new_card_path %></a>
              <a class="nav-link"> <%= link_to "Мои колоды", decks_path %></a>
              <a class="nav-link"> <%= link_to "Создать колоду", new_deck_path %></a>
              <a class="nav-link"> <%= link_to "Профиль", edit_user_path(current_user.id) %></a>
              <a class="nav-link"> <%= link_to "Выход", :logout, method: :post %></a>
            <% else %>
              <a class="nav-link"> <%= link_to "Регистрация", new_user_path %></a>
              <a class="nav-link"> <%= link_to "Вход", :login %></a>
              <a class="nav-link"> <%= link_to 'Login GitHub', auth_at_provider_path(provider: :github) %></a>
            <% end %>
        </nav>
      </nav>
    </section>

      <section id="container">
        <% flash.each do |name, msg| %>
          <div class="text-center">
          <h3><%= content_tag :div, msg, :id => "flash_#{name}" %></h3>
          </div>
        <% end %>
        <%= yield %>
      </section>
  </body>
</html>
